.miboton {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: none;
    height: auto;
    margin-top: 35px !important;
    margin: auto;
    cursor: pointer;
    color: white;
    font-size: 1.8rem; /* O puedes usar clamp(1.5rem, 5vw, 2.5rem) */
    padding: 10px 0;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px) saturate(120%);
    -webkit-backdrop-filter: blur(30px) saturate(120%);
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 50em; /* Forma de píldora inicial */
    box-shadow:
        0 8px 32px 0 rgba(0, 0, 0, 0.08),
        inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
        inset 0 -1px 0 0 rgba(0, 0, 0, 0.01);
    font-family: "Oswald", sans-serif;

    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1); /* Tu transición suave original */

    font-size: clamp(1.2rem, 3vw, 2.5rem);

    margin-bottom: 1vh;
}

.miboton:hover {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-3px);
    box-shadow:
        0 12px 40px 0 rgba(0, 0, 0, 0.15),
        inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}
